.dayApproved,
.dayPending,
.sharedDay {
  position: relative;
}

.dayApproved::before {
  content: " ";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(5, 150, 105);
}

.dayPending::before {
  content: " ";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(220, 38, 38);
}

.sharedDay::before {
  content: " ";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(234, 88, 12);
}
