.btn {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 12px;
  grid-auto-flow: dense;
  width: 90%;
}

.img:hover {
  transform: scale(1.1);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
