.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  gap: 9px;
}

.colSpan {
  grid-column: span 2;
}

.rowSpan {
  grid-row: span 2;
}

@media screen and (max-width: 768px) {
  .rowSpan {
    grid-column: span 3;
  }
  .colSpan.rowSpan {
    grid-row: span 1;
  }
}
