@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: all 200ms ease-out;
  scroll-padding-top: 100px;
  --primary-600: red;
}

:root.dark-mode {
  color-scheme: dark;
  --svg-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233f3f46' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  --icon-color: rgb(243, 244, 246);
  --table-striped: rgb(39, 39, 42);
  --toast-close: white;
}

:root.light-mode {
  color-scheme: light;
  --svg-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2352525b' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  --icon-color: rgb(107, 114, 128);
  --table-striped: rgb(229, 231, 235);
  --toast-close: black;
}

.svg-background {
  background-image: var(--svg-bg);
  background-attachment: fixed;
  background-position: center;
}

.icon-stroke {
  stroke: var(--icon-color);
}

.icon-fill {
  fill: var(--icon-color);
}

label + input {
  margin-top: 7px;
  display: block;
}

label + textarea {
  margin-top: 7px;
  display: block;
}
